body {
    background-image: url("/media/images/sky_stairs.jpg"); /* Путь к фоновому изображению */
    background-color: #9999ff; /* Цвет фона */
    font-size: 16px;
    line-height: 20px;
}

.main-content {
    min-height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.scenarios-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.scenario-card {
    width: 45%;
    display: inline-block;
    margin: 2.5%;
}

.scenario-category {
    color: #333333;
    font-size: 0.9em;
    font-style: italic;
}

.category-button {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    border-bottom: 2px solid gray;
    width: 100%;
}

.category-button:hover {
    cursor: pointer;
    color: gray;
}

.active-category-button {
    background-color: #dff5ff;
}

.active-category-button:hover {
    color: #3fb1b2;
}

.non-a {
    color: inherit;
}

.non-a:hover {
    color: inherit;
}

.img-a:hover {
    cursor: pointer;
}

.navbar-brand, .navbar-toggler {
    font-size: 1em;
}

.left-foto {
    float: left;
    margin: 4px 10px 2px 0px;
}

.demo-part {
    white-space: pre-wrap;
    border: solid #888888 1px;
    padding: 1em;
    border-radius: 5px;
}

@media screen and (max-width: 990px) {
    body {
        font-size: 36px;
        line-height: 44px;
    }
    .form-control {
        font-size: 36px;
    }
    .col-form-label {
        font-size: 36px;
    }
    .btn {
        font-size: 36px;
    }
    h1 {
        font-size: 68px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 56px;
    }
    h4 {
        font-size: 52px;
    }
    h5 {
        font-size: 48px;
    }
    h6 {
        font-size: 44px;
    }
    .main-content {
        width: 90%;
    }
}